$main-colors-map: (
    red-clr: hsl(0deg 100% 50%),
    yellow-clr: hsl(60deg 100% 50%),
    black-clr: hsl(0deg 0% 0%),
    white-clr: hsl(0deg 0% 100%),
    blue-clr: hsl(240deg 100% 50%),
    green-clr: hsl(120deg 100% 50%),
);
