@charset "UTF-8";

// stylelint-disable scss/dollar-variable-empty-line-before

// * General
$lib-name: sass-pire !default;

$brand-lib-name: sp !default;

$all-data-types: (number, string, bool, list, color, map, null) !default;

$main-data-types: (number, string, bool) !default;

$main-directions: (top, right, bottom, left) !default;

$base-font-size: 16;

$text-decoration-ink-props: (-webkit-text-decoration-skip, text-decoration-skip-ink) !default;

// * Units
$absolute-units: (cm, mm, in, px, pt, pc) !default;

$relative-units: (em, ex, ch, rem, vw, vh, vmin, vmax) !default;

$resolution-units: (dpi, dpcm, dppx) !default;

$viewport-units: (
    vw,
    svw,
    lvw,
    dvw,
    vh,
    lvh,
    dvh,
    vi,
    svi,
    lvi,
    vmin,
    svmin,
    lvmin,
    dvmin,
    vmax,
    svmax,
    lvmax,
    dvmax,
    vb,
    lvb,
    dvb
) !default;

$angle-units: (deg, turn, rad, grad) !default;

$main-units: (#{"%"}, rem, px, em) !default;

$time-units: (ms, s) !default;

// * Flexbox

$flex-direction-props: (
    -webkit-box-orient,
    -webkit-box-direction,
    -webkit-flex-direction,
    -ms-flex-direction,
    -moz-flex-direction,
    -o-flex-direction,
    flex-direction
) !default;

$flex-direction-column-values: (vertical, normal, column, column) !default;

$flex-direction-column-reverse-values: (vertical, reverse, column-reverse, column-reverse) !default;

$flex-direction-row-values: (horizontal, normal, row, row) !default;

$flex-direction-row-reverse-values: (horizontal, reverse, row-reverse, row-reverse) !default;

$directions-props-values: (inherit, initial, revert, revert-layer, unset, auto) !default;

// * Grid
$grid-prefixes-values: (-ms-grid, grid) !default;

$inline-grid-prefixes-values: (-ms-inline-grid, inline-grid) !default;

$column-gap-props: (-webkit-column-gap, -moz-column-gap, column-gap) !default;

$grid-column-props: (-ms-grid-column, grid-column) !default;

$grid-row-props: (-ms-grid-row, grid-row) !default;

$grid-template-columns-props: (-ms-grid-columns, grid-template-columns) !default;

$grid-template-rows-props: (-ms-grid-rows, grid-template-rows) !default;

$grid-column-start: (-ms-grid-column, grid-column-start) !default;

$grid-row-start: (-ms-grid-row, grid-row-start) !default;

$grid-row-end: (-ms-grid-row-span, grid-row-end) !default;
