@charset "UTF-8";

// stylelint-disable scss/dollar-variable-empty-line-before

// * General
$lib-name: sass-pire !default;

$brand-lib-name: sp !default;

$all-data-types: (number, string, bool, list, color, map, null) !default;

$main-data-types: (number, string, bool) !default;

$main-directions: (top, right, bottom, left) !default;

$text-decoration-ink-props: (-webkit-text-decoration-skip, text-decoration-skip-ink) !default;

// * Units
$absolute-units: (cm, mm, in, px, pt, pc) !default;

$relative-units: (em, ex, ch, rem, vw, vh, vmin, vmax) !default;

$resolution-units: (dpi, dpcm, dppx) !default;

$viewport-units: (
    vw,
    svw,
    lvw,
    dvw,
    vh,
    lvh,
    dvh,
    vi,
    svi,
    lvi,
    vmin,
    svmin,
    lvmin,
    dvmin,
    vmax,
    svmax,
    lvmax,
    dvmax,
    vb,
    lvb,
    dvb
) !default;

$angle-units: (deg, turn, rad, grad) !default;

$main-units: (#{"%"}, rem, px, em) !default;

$time-units: (ms, s) !default;

// * Flexbox
$flex-prefixes-values: (-webkit-box, -webkit-flex, -ms-flexbox, -moz-box, flex) !default;

$inline-flex-prefixes-values: (
    -webkit-inline-box,
    -webkit-inline-flex,
    -ms-inline-flexbox,
    -moz-inline-box,
    inline-flex
) !default;

$align-items-props: (-webkit-box-align, -webkit-align-items, -ms-flex-align, -moz-align-items, align-items) !default;

$align-items-values: (normal, stretch, start, end, flex-start, flex-end, center, baseline, inherit) !default;

$justify-content-props: (
    -webkit-box-pack,
    -webkit-justify-content,
    -ms-flex-pack,
    -moz-justify-content,
    justify-content
) !default;

$justify-content-values: (
    normal,
    stretch,
    start,
    end,
    right,
    left,
    flex-start,
    flex-end,
    center,
    space-between,
    space-around,
    space-evenly,
    inherit
) !default;

$flex-direction-props: (
    -webkit-box-orient,
    -webkit-box-direction,
    -webkit-flex-direction,
    -ms-flex-direction,
    -moz-flex-direction,
    -o-flex-direction,
    flex-direction
) !default;

$flex-direction-values: (row, r, row-reverse, r-rev, column, col, c, column-reverse, col-rev, "") !default;

$flex-direction-column-values: (vertical, normal, column, column) !default;

$merge-flex-direction-column: (
    -webkit-box-orient: vertical,
    -webkit-box-direction: normal,
    -webkit-flex-direction: column,
    -ms-flex-direction: column,
    -moz-flex-direction: column,
    -o-flex-direction: column,
    flex-direction: column
) !default;

$flex-direction-column-reverse-values: (vertical, reverse, column-reverse, column-reverse) !default;

$merge-flex-direction-column-reverse: (
    -webkit-box-orient: vertical,
    -webkit-box-direction: reverse,
    -webkit-flex-direction: column-reverse,
    -ms-flex-direction: column-reverse,
    -moz-flex-direction: column-reverse,
    -o-flex-direction: column-reverse,
    flex-direction: column-reverse
) !default;

$flex-direction-row-values: (horizontal, normal, row, row) !default;

$merge-flex-direction-row: (
    -webkit-box-orient: horizontal,
    -webkit-box-direction: normal,
    -webkit-flex-direction: row,
    -ms-flex-direction: row,
    -moz-flex-direction: row,
    -o-flex-direction: row,
    flex-direction: row
) !default;

$flex-direction-row-reverse-values: (horizontal, reverse, row-reverse, row-reverse) !default;

$merge-flex-direction-row-reverse: (
    -webkit-box-orient: horizontal,
    -webkit-box-direction: reverse,
    -webkit-flex-direction: row-reverse,
    -ms-flex-direction: row-reverse,
    -moz-flex-direction: row-reverse,
    -o-flex-direction: row-reverse,
    flex-direction: row-reverse
) !default;

$flex-wrap-values: (nowrap, wrap, wrap-reverse, "", no, yes, w, wrap-rev, w-rev, inherit) !default;

$flex-shrink-props: (
    -webkit-flex-shrink,
    -ms-flex-negative,
    -ms-flex-shrink,
    -moz-box-flex,
    -moz-flex-shrink,
    flex-shrink
) !default;

$flex-shrink-values: (initial, inherit) !default;

$align-self-props: (
    -webkit-align-self,
    -ms-grid-row-align,
    -ms-align-self,
    -moz-align-self,
    -o-align-self,
    align-self
) !default;

$align-self-values: (
    auto,
    normal,
    stretch,
    start,
    end,
    self-start,
    self-end,
    center,
    flex-start,
    flex-end,
    baseline,
    inherit
) !default;

$flex-grow-props: (-webkit-flex-grow, -webkit-box-flex, -ms-flex-positive, -moz-box-flex, flex-grow) !default;

$flex-basis-props: (
    -webkit-flex-basis,
    -ms-flex-basis,
    -ms-flex-preferred-size,
    -moz-flex-basis,
    -moz-box-sizing,
    -o-flex-basis,
    flex-basis
) !default;

$flex-basis-values: (max-content, min-content, fit-content, content, inherit, auto) !default;

$order-props: (
    -webkit-box-ordinal-group,
    -webkit-order,
    -ms-flex-order,
    -ms-order,
    -moz-order,
    -o-order,
    order
) !default;

$fade-values: (hide, show, yes, no) !default;

$transform-props-values: (inherit, initial, revert, unset, none) !default;

$directions-props-values: (inherit, initial, revert, revert-layer, unset, auto) !default;

$box-shadow-values: (inherit, initial, revert, revert-layer, unset, none) !default;

$transitions-function-values: (ease, ease-in, ease-in-out, linear) !default;

$main-dimensions: (width, w, height, h) !default;

$main-mq-types: (min, max) !default;

$breakpoints: (
    "mob-min": 320px,
    "mob": 400px,
    "mob-wide": 480px,
    "xs": 576px,
    "sm-tab": 640px,
    "sm": 767px,
    "sm-wide": 870px,
    "sm-max": 930px,
    "md": 991px,
    "md-max": 1150px,
    "lg": 1200px,
    "lg-max": 1300px,
    "xl": 1400px,
    "xl-max": 1550px,
    "xl-2": 1900px,
    "xl-3": 2400px,
    "xl-4": 2800px,
    "xxl": 3000px
) !default;

$list-transition-functions: (ease, ease-in, ease-in-out, linear) !default;

$backdrop-props: (-webkit-backdrop-filter, backdrop-filter) !default;

$backdrop-global-values: (inherit, initial, revert, revert-layer, unset, none) !default;

$backdrop-functions: (
    blur,
    brightness,
    contrast,
    drop-shadow,
    grayscale,
    hue-rotate,
    invert,
    opacity,
    sepia,
    saturate
) !default;

$user-select-props: (-webkit-user-select, -moz-user-select, -ms-user-select, user-select) !default;

$user-select-values: (none, auto, text, contain, all, inherit, initial, revert, revert-layer, unset) !default;

// * Grid
$grid-prefixes-values: (-ms-grid, grid) !default;

$inline-grid-prefixes-values: (-ms-inline-grid, inline-grid) !default;

$column-gap-props: (-webkit-column-gap, -moz-column-gap, column-gap) !default;

$grid-column-props: (-ms-grid-column, grid-column) !default;

$grid-row-props: (-ms-grid-row, grid-row) !default;

$grid-template-columns-props: (-ms-grid-columns, grid-template-columns) !default;

$grid-template-rows-props: (-ms-grid-rows, grid-template-rows) !default;

$grid-column-start: (-ms-grid-column, grid-column-start) !default;

$grid-row-start: (-ms-grid-row, grid-row-start) !default;

$grid-row-end: (-ms-grid-row-span, grid-row-end) !default;
