@charset "UTF-8";
@use "sass:list";
@use "sass:math";
@use "../../vendor-prefixes/prefix" as pref;
@use "../../../functions/global/is-in-list" as func;

@mixin flex-wrap($val: nowrap) {
    $flex-wrap-map: (
        nowrap: nowrap,
        "": nowrap,
        no: nowrap,
        wrap: wrap,
        yes: wrap,
        w: wrap,
        wrap-reverse: wrap-reverse,
        wrap-rev: wrap-reverse,
        w-rev: wrap-reverse,
        inherit: inherit
    ) !default;

    @if func.is-in-list(map-keys($flex-wrap-map), $val) {
        // stylelint-disable-next-line scss/no-global-function-names
        $flex-wrap-value: map-get($flex-wrap-map, $val);

        @include pref.prefixing-ms(flex-wrap, $flex-wrap-value);
    }
}
