@charset "UTF-8";

// * has-res-unit Function
// * This function checks if the provided argument has resolution units.

// @author Khaled Mohamed

// @module type-checks

// @group type-checks-has-res-unit

// @param {number} $val - The number to check for resolution units.

// @throws {string} Throws an error if @param is not a number.

// @example
// * has-res-unit(12dpi); // Returns true if 'dpi' (dots per inch) is present.
// * has-res-unit(22dpcm); // Returns true if 'dpcm' (dots per centimeter) is present.
// * has-res-unit(23dppx); // Returns true if 'dppx' (dots per pixel) is present.

// @return {boolean} - Returns true if the argument has one of the resolution units, otherwise false.

@use "sass:list";
@use "sass:math";

@function has-res-unit($val) {
    $resolution-units: (dpi, dpcm, dppx) !default;

    @if type-of($val) != number {
        @error "Argument of has-res-unit must be of type number.";
    }

    $flag: true;

    @if not list.index($resolution-units, math.unit($val)) {
        $flag: false;
    }

    @return $flag;
}
