@charset "UTF-8";

// @description
// * has-res-unit function
// * This function checks if the provided argument has resolution units.

// @author Khaled Mohamed

// @namespace type-checks

// @module type-checks/has-res-unit

// @param {number} $val
// * The number to check for resolution units.

// @throws {string}
// * Throws an error if @param is not a number.

// @example
// * .example {
// *   content: has-res-unit(12dpi);
// * }

// @output
// * .example {
// *   content: true;
// * }

// @return {boolean} - Returns true if the argument has one of the
// * resolution units, otherwise false.

@use "sass:list";
@use "sass:math";

@function has-res-unit($val) {
    $resolution-units: (dpi, dpcm, dppx) !default;

    @if type-of($val) != number {
        @error "Argument of has-res-unit must be of type number.";
    }

    $flag: true;

    @if not list.index($resolution-units, math.unit($val)) {
        $flag: false;
    }

    @return $flag;
}
