@charset "UTF-8";

// @description
// * has-rel-unit function
// * This function checks if the provided argument has relative units.

// @author Khaled Mohamed

// @namespace type-checks

// @module type-checks/has-rel-unit

// @param {number} $val - The number to check for relative units.

// @throws {string} Throws an error if @param is not a number or not in
// * $relative-units list.

// @example
// * .example {
// *   content: has-rel-unit(12em);
// * }

// @output
// * .example {
// *   content: true;
// * }

// @return {boolean} - Returns true if the argument has one of the
// * relative units, otherwise false.

@use "sass:list";
@use "sass:math";

@function has-rel-unit($val) {
    $relative-units: (em, ex, ch, rem, vw, vh, vmin, vmax) !default;

    @if type-of($val) != number {
        @error "Argument of has-rel-unit must be of type number.";
    }

    $flag: true;

    @if not list.index($relative-units, math.unit($val)) {
        $flag: false;
    }

    @return $flag;
}
