@charset "UTF-8";

// @description
// * This module provides a function to check if the argument has a time type or not.

// @author Khaled Mohamed

// @namespace type-checks

// @module type-checks/is-time

// @param {number} $val - A number to check if it has a time type or not.

// @throw {string} "You must pass an argument with number type to the is-time function."

// @example
// * .example {
// *   content: is-time(12s);
// * };

// @output
// * .example {
// *   content: true;
// * };

// @returns {boolean} - True if it's a time type, false if not.

@use "sass:list";
@use "sass:math";
@use "../../abstract/variables" as var;

@function is-time($val) {
    @if type-of($val) != number {
        @error "You must pass argument to is-time function with number type.";
    }

    $flag: true;
    $get-unit: math.unit($val);

    @if not list.index(var.$time-units, $get-unit) {
        $flag: false;
    }

    @return $flag;
}
