@charset "UTF-8";

// @description
// * This module provides a function to check if the argument is a integer number.

// @author Khaled Mohamed

// @namespace type-checks

// @module type-checks/is-int

// @param {number} $val - The number to check.

// @throw Throws an error if the argument is not a number.

// @return {boolean} - True if the number is an integer, false otherwise.

// @example
// * .example {
// *   content: is-int(12deg);
// * };

// @output
// * .example {
// *   content: true
// * };

@use "sass:math";
@use "../global/cut-unit" as func;

@function is-int($val) {
    @if type-of($val) != number {
        @error "You must pass argument to is-int function with a number type.";
    }

    $flag: false;
    $actual-number: func.cut-unit($val);

    @if math.round($actual-number) == $actual-number {
        $flag: true;
    }

    @return $flag;
}
