@charset "UTF-8";

// @description
// * Center-X mixin
// * This mixin generates CSS properties to horizontally center an element within its container.
// * It sets the right and left margins to 'auto'.

// @author Khaled Mohamed

// @namespace general

// @module general/center-x

// @example
// * .example {
// *   @include center-x;
// * }

// @output
// * .example {
// *   margin-right: auto;
// *   margin-left: auto;
// * }

// @note
// * This mixin is useful for centering block-level elements horizontally within their container.

@mixin center-x {
    margin: {
        right: auto;
        left: auto;
    }
}
