@charset "UTF-8";
@use "sass:list";
@use "sass:math";
@use "../../abstract/variables" as var;
@use "../../functions/global/is-in-list" as func;

@mixin circle($side) {
    $get-unit: math.unit($side);

    @if type-of($side) != number {
        @error "$side variable must be of number type.";
    }

    @if func.is-in-list(var.$main-units, $get-unit) {
        width: #{$side};
        height: #{$side};
        border-radius: 50%;
    }
}
