@charset "UTF-8";
@use "sass:list";
@use "../../abstract/variables" as var;
@use "../../functions/global/is-in-list" as func;

@mixin fade($type) {
    @if func.is-in-list(var.$fade-values, $type) {
        @if $type == "hide" or $type == "no" {
            visibility: hidden;
            opacity: 0;
        } @else if $type == "show" or $type == "yes" {
            visibility: visible;
            opacity: 1;
        } @else {
            @error "You must pass a value to fade mixin. It must receive one of these values: (#{var.$fade-values})";
        }
    }
}
