@charset "UTF-8";

// @description
// * fade mixin.
// * This mixin provides a simple way to control the visibility and
// * opacity of an element for creating fade-in and fade-out effects.

// @author Khaled Mohamed

// @namespace general

// @module general/fade

// @param {String} $type - The type of fade effect. Possible values are:
// * - "hide" or "no": Sets visibility to hidden and opacity to 0.
// * - "show" or "yes": Sets visibility to visible and opacity to 1.

// @example
// * .element {
// *    @include fade("hide");
// * }

// @output
// * .element {
// *   visibility: hidden;
// *   opacity: 0;
// * }

@use "sass:list";
@use "../../functions/global/is-in-list" as func;

@mixin fade($type) {
    $fade-values: (hide, show, yes, no) !default;

    @if func.is-in-list($fade-values, $type) {
        @if $type == "hide" or $type == "no" {
            visibility: hidden;
            opacity: 0;
        } @else if $type == "show" or $type == "yes" {
            visibility: visible;
            opacity: 1;
        } @else {
            @error "You must pass a value to fade mixin. It must receive one of these values: (#{var.$fade-values})";
        }
    }
}
