@use "sass:map";

@mixin ff($fonts) {
    @if type-of($fonts) != map {
        @error "Please, Pass a map of font families contains names and values for (ff) mixin.";
    }

    :root {
        @each $font-name, $font-val in $fonts {
            // stylelint-disable-next-line scss/at-if-no-null
            @if $font-name == "" or $font-name == null {
                @error "Please, Add a good font family name to generate it!";
            }

            @if type-of($font-name) != string {
                @error "Font family name must be in string type.";
            }

            --#{$font-name}-font: #{$font-val};
        }
    }
}
