@charset "UTF-8";

// @description
// * mq mixin.
// * Generate a media query with specified type,
// * dimension, and breakpoint.

// @access public

// @author Khaled Mohamed

// @namespace general

// @module general/mq

// @param {String} $type
// * The type of query you want (min | max).

// @param {String} $dimension
// * The dimension you want, which can be width, height, w, or h.

// @param {String} $breakpoint-name
// * Specify the breakpoint name from the breakpoints map.

// @example
// * .example {
// *   @include mq($type: max, $dimension: h, $breakpoint-name: lg) {
// *     width: 100px;
// *   }
// * }

// @output
// * @media only screen and (max-height: 1199px) {
// *   .example {
// *     width: 100px;
// *   }
// * }

@use "sass:list";
@use "../../functions/global/is-in-list" as func;

@mixin mq($type: min, $dimension: w, $breakpoint-name: md) {
    $main-mq-types: (min, max) !default;
    $main-dimensions: (width, w, height, h) !default;

    // stylelint-disable-next-line scss/dollar-variable-empty-line-before
    $breakpoints: (
        "mob-min": 320px,
        "mob": 400px,
        "mob-wide": 480px,
        "xs": 576px,
        "sm-tab": 640px,
        "sm": 767px,
        "sm-wide": 870px,
        "sm-max": 930px,
        "md": 991px,
        "md-max": 1150px,
        "lg": 1200px,
        "lg-max": 1300px,
        "xl": 1400px,
        "xl-max": 1550px,
        "xl-2": 1900px,
        "xl-3": 2400px,
        "xl-4": 2800px,
        "xxl": 3000px
    ) !default;

    @if func.is-in-list($main-mq-types, $type) and func.is-in-list($main-dimensions, $dimension) {
        @if map-has-key($breakpoints, $breakpoint-name) {
            $actual-dimension: map_get($breakpoints, $breakpoint-name);

            @if $type == max {
                $actual-dimension: $actual-dimension - 1px;
            }

            @if $dimension == width or $dimension == w {
                @media only screen and (#{$type}-width: $actual-dimension) {
                    @content;
                }
            } @else if $dimension == height or $dimension == h {
                @media only screen and (#{$type}-height: $actual-dimension) {
                    @content;
                }
            }
        } @else {
            @error "Please, Enter the valid breakpoint. #{$breakpoint-name} dose not exist in (#{$breakpoints})";
        }
    }
}
