@charset "UTF-8";

// @description
// * select mixin
// * Apply custom selection styles to the browser's selection highlight.

// @author Khaled Mohamed

// @namespace general

// @module general/select

// @param {String|Color} $bg-color - The background color of the selection.
// * If a string, it should represent a CSS variable.

// @param {String|Color} $text-color - The text color of the selection.
// * If a string, it should represent a CSS variable.

// @example
// * .example {
// *   @include select(#3498db, #ffffff);
// * }

// @output
// * .example::-moz-selection {
// *   background-color: #3498db;
// *   color: #ffffff;
// * }
// * .example::selection {
// *   background-color: #3498db;
// *   color: #ffffff;
// * }

// stylelint-disable selector-no-vendor-prefix

@mixin select($bg-color, $text-color) {
    @if type-of($bg-color) == string {
        @if not str-index($bg-color, "var") {
            @error "You must pass a CSS variable in the first argument of select mixin.";
        }
    } @else if type-of($bg-color) != color {
        @error "Background color (first argument) of select mixin must be in color type.";
    }

    @if type-of($text-color) == string {
        @if not str-index($text-color, "var") {
            @error "You must pass a CSS variable in the second argument of select mixin.";
        }
    } @else if type-of($text-color) != color {
        @error "Text color (second argument) of select mixin must be in color type.";
    }

    ::-moz-selection {
        background-color: $bg-color;
        color: $text-color;
    }

    ::selection {
        background-color: $bg-color;
        color: $text-color;
    }
}
