@charset "UTF-8";

// * transition Mixin
// * Apply transition properties with cross-browser compatibility.

// @author Khaled Mohamed

// @namespace general

// @module general-transition

// @param {String} $prop - The CSS property to apply the transition to. Default: 'all'.
// @param {Number} $time - The duration of the transition. Default: 0.33ms.
// @param {String} $func - The timing function of the transition. Default: 'ease-in-out'.
// @param {Number} $delaying - The delay before the transition starts. Default: 0ms.

// @example
// * .example {
// *   @include transition(opacity, 0.35s, ease, 1ms);
// * }

// @output
// * .example {
// *   -webkit-transition: opacity 0.35s ease 1ms;
// *   -moz-transition: opacity 0.35s ease 1ms;
// *   -ms-transition: opacity 0.35s ease 1ms;
// *   -o-transition: opacity 0.35s ease 1ms;
// *   transition: opacity 0.35s ease 1ms;
// * }

// stylelint-disable scss/dollar-variable-empty-line-before
@use "sass:list";
@use "sass:math";
@use "../../abstract/variables" as var;
@use "../vendor-prefixes/prefix" as pref;
@use "../../functions" as f;

@mixin transition($prop: all, $time: 0.33ms, $func: ease-in-out, $delaying: 0ms) {
    $time-unit: math.unit($time);
    $delaying-unit: math.unit($delaying);
    $params-with-types-map: (
        $prop: "string",
        $time: "number",
        $func: "string",
        $delaying: "number"
    );

    $transitions-function-values: (ease, ease-in, ease-in-out, linear) !default;
    $list-transition-functions: (ease, ease-in, ease-in-out, linear) !default;

    @if f.is-in-list($list-transition-functions, $func) and
        f.is-in-list(var.$time-units, $time-unit) and
        f.is-in-list(var.$time-units, $delaying-unit)
    {
        @each $custom, $val in $params-with-types-map {
            @if type-of($custom) != $val {
                @error "#{$custom} parameter must be in type #{$val}.";
            }
        }

        @if $time < 0 {
            @error "Time of transition must be equal or bigger than zero.";
        }

        @if $delaying < 0 {
            @error "Transition delay must be equal or bigger than zero.";
        }

        @if f.cut-unit($delaying) == 0 {
            @include pref.prefixing-all(transition, $prop #{$time} #{$func} #{f.cut-unit($delaying)});
        } @else {
            @include pref.prefixing-all(transition, $prop #{$time} #{$func} #{$delaying});
        }
    }
}
