@charset "UTF-8";
@use "sass:list";
@use "sass:math";
@use "../../abstract/variables" as var;
@use "../vendor-prefixes/prefix" as pref;
@use "../../functions" as f;

@mixin transition($prop: all, $time: 0.33ms, $func: ease-in-out, $delaying: 0ms) {
    $time-unit: math.unit($time);
    $delaying-unit: math.unit($delaying);
    $params-with-types-map: (
        $prop: "string",
        $time: "number",
        $func: "string",
        $delaying: "number"
    );

    @if f.is-in-list(var.$list-transition-functions, $func) and
        f.is-in-list(var.$time-units, $time-unit) and
        f.is-in-list(var.$time-units, $delaying-unit)
    {
        @each $custom, $val in $params-with-types-map {
            @if type-of($custom) != $val {
                @error "#{$custom} parameter must be in type #{$val}.";
            }
        }

        @if $time < 0 {
            @error "Time of transition must be equal or bigger than zero.";
        }

        @if $delaying < 0 {
            @error "Transition delay must be equal or bigger than zero.";
        }

        @if f.cut-unit($delaying) == 0 {
            @include pref.prefixing-all(transition, $prop #{$time} #{$func} #{f.cut-unit($delaying)});
        } @else {
            @include pref.prefixing-all(transition, $prop #{$time} #{$func} #{$delaying});
        }
    }
}
