@use "sass:list";

@function flatten($list) {
    $flat-list: ();

    @each $item in $list {
        @if type-of($item) == list {
            $flat-list: list.append($flat-list, flatten($item));
        } @else {
            $flat-list: list.append($flat-list, $item);
        }
    }

    @return $flat-list;
}
