@charset "UTF-8";

// @description
// * flatten function
// * This function flattens a given list by removing nested lists.

// @author Khaled Mohamed

// @namespace global

// @module global/flatten

// @param {List} $list
// * A list that may contain nested lists to be flattened.

// @throw {Exception}
// * Throws an exception if the provided parameter is not a list.

// @example 1
// * .example1 {
// *   content: flatten((1, 2, 4), 4);
// * }

// @output 1
// * .example1 {
// *   content: 1, 2, 4, 4;
// * }

// @example 2
// * .example2 {
// *   content: flatten(((1, 2, 4), (2, ((33, 4), 67))));
// * }

// @output 2
// * .example2 {
// *   content: 1, 2, 4, 2, 33, 4, 67;
// * }

// @return {List} - Returns a flattened list.

@use "sass:list";

@function flatten($list) {
    $flat-list: ();

    @each $item in $list {
        @if type-of($item) == list {
            $flat-list: list.join($flat-list, flatten($item));
        } @else {
            $flat-list: list.append($flat-list, $item);
        }
    }

    @return $flat-list;
}
