@charset "UTF-8";

// * Reverse Function
// * This function retrieves the reversed list from the given one.

// @author Kitty Giraudel
// @link https://kittygiraudel.com/

// @module list

// @group list-reverse

// @update We updated the use of the list library of Sass.

// @param {List} $list - A list from which to reverse.

// @throw {Exception} - Throws an exception if the provided parameter is not a list.

// @example
// * .example {
// *   content: reverse((12, 43, 4, (33, 555, 6));
// * }

// @output
// * .example {
// *   content: 6, 555, 33, 4, 43, 12;
// * }

// @return {Any} - Returns the reversed list from the given list.

@use "sass:list";
@use "flatten-list" as func;

@function reverse($list: ()) {
    @if type-of($list) != list {
        @error "You must pass a list to reverse function.";
    }

    $flat-list: func.flatten($list);
    $reversed-list: ();

    @for $i from list.length($flat-list) to 0 {
        $reversed-list: list.append($reversed-list, list.nth($flat-list, $i));
    }

    @return $reversed-list;
}
